.main_container{
     display: flex;
     justify-content: center;
     font-size: 1;
     text-align: center;
     color: #333333;
     .icon{
       width: 50%;
       margin-top: 30px;
       img{
         width: 188px;
         height: 188px;
         border-radius: 50%;
         border: 1px solid rgba(0,0,0,0.1);
       }
       .main_button {
         margin-top: 30px;
         font-weight: bold;
         a:first-child{
           color: #f26522;
         }
         a{
           padding: 10px;
           margin: 0 10px;
          border:1px solid #f6f6f6;
         }
       }
     }
  }