
  .feature_article_container{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:70px;
    .feature_article{
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      .feature_title h3{
        color: #f26522;
        font-size: 18px;
        font-weight: 700;
      }
      .feature_button{
        padding: 16px;
        a{
          border:1px solid #666;
          padding: 8px;
          border-radius: 2px;
          cursor: pointer;
          margin-right: 16px;
        }
        a:last-child{
          margin-right: 0px;
        }
      }

    }
    .image_list_container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

  }

  .read_list_container{
     text-align: center;
     width: 70%;
     margin: 0 auto;
     .read_container{
       display: flex;
       justify-content: space-between;
       border-bottom:1px solid #333 ;
       padding: 1.5rem 0;
       .read_date{
         text-transform: uppercase;
         color: #f26522;
       }
       .read_des{
         width: 70%;
       }
       .read_time{
         color: #333;
       }
     }
     .loadmore{
       margin-top: 50px;
       margin-bottom: 200px;
        a{
          text-transform: uppercase;
          padding: 10px 20px;
          border: 1px solid #ccc;
        }
     }
  }
